<div id="<%= dom_id staff %>">
  <p>
    <strong>Staff:</strong>
    <%= staff.staff_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= staff.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= staff.last_name %>
  </p>

</div>
