<h1>Editing allocation</h1>

<%= render "form", allocation: @allocation %>

<br>

<div>
  <%= link_to "Show this allocation", @allocation %> |
  <%= link_to "Back to allocations", allocations_path %>
</div>
